<form action="/figures/<%= @figure.id %>/edit" method="post">
  <label for="figure_name">Figure Name</label>
  <input id="figure_name" type="text" name="figure[name]">

  <!-- <label for="new_title">Title Name</label>
  <input id="new_title" type="text" name="title[name]">
    <% @titles.each do |title| %>
    <p>
      <label for=""><%= title.name %></label>
      <input type="checkbox" name="figure[title_ids][][<%=title.id%>]" id="title_<%=title.id%>">
    </p>
    <% end %>
  <label for="new_landmark">Landmark Name</label>
  <input id="new_landmark" type="text" name="landmark[name]">
    <% @landmarks.each do |landmark| %>
    <p>
      <label for="landmark_<%=landmark.id%>"><%= landmark.name %></label>
      <input type="checkbox" name="figure[landmark_ids][][<%=landmark.id%>]" id="landmark_<%=landmark.id%>">
    </p>
    <% end %> -->
  <input type="submit" name="submit" value="Update Figure" >
</form>
